<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Undergraduate student of Ajou univ. Business School Majoring E-business(17)</p>
      </div>
      <div class="col-lg-4">
        <p>Worked at
            - English Tutor
            - CJ Cheilchedang as a role of part-time job employee
            - CJ CGV as a role of part-time job employee
            - ORP Institute as a role of part-time job employee
            - NAMYANG as intern in the department of e-commerce
            - ESTSOFT ROUNZ as intern in the department of DEV/Product Manager
            - 
          plz keep that in mind!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://hyeongger.github.io" class="btn btn-lg btn-outline">
          </i> 새로고침
        </a>
      </div>
    </div>
  </div>
</section>
